<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	<!-- 在spring的配置文件中添加 -->
	<context:annotation-config />
	<!-- 通过annotation 扫描的根目录 -->
	<context:component-scan base-package="demo.haloweb.dev3g.web">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
	</context:component-scan>
	<!-- must config -->
	<bean id="haloUtil" class="halo.util.HaloUtil" />
	<bean id="webCnf" class="halo.web.util.WebCnf">
		<!-- 设置文件上传的临时目录 -->
		<property name="uploadFileTempPath" value="/Users/akwei/temp/" />
		<!-- 是否需要进行字符编码转换 -->
		<property name="needCharsetEncode" value="true" />
		<!-- 原编码 -->
		<property name="sourceCharset" value="iso-8859-1" />
		<!-- 目标编码 -->
		<property name="targetCharset" value="utf-8" />
		<!-- 强制url进行上传文件检查，不通过配置的url不能接收文件上传 -->
		<property name="mustCheckUpload" value="true" />
		<!-- 接收文件检查的url 格式：/actionname/method:[file size](单位为M) -->
		<property name="fileUploadCheckUriCnfList">
			<list>
				<value>/hello/upload:20</value>
			</list>
		</property>
	</bean>
</beans>